Name : Vishal jadhav
Roll no.:25 A

In [1]:
dfdfimport pandas as pd
import numpy as np

In [8]:
df=pd.read_csv('seattle-weather[1].csv')

In [9]:
df

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [10]:
df.isna().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [11]:
df.sort_values(by="temp_max")

            date  precipitation  temp_max  temp_min  wind weather
767   2014-02-06            0.0      -1.6      -6.0   4.5     sun
18    2012-01-19           15.2      -1.1      -2.8   1.6    snow
766   2014-02-05            0.0      -0.5      -5.5   6.6     sun
706   2013-12-07            0.0       0.0      -7.1   3.1     sun
17    2012-01-18           19.8       0.0      -2.8   5.0    snow
...          ...            ...       ...       ...   ...     ...
1307  2015-07-31            0.0      34.4      17.8   2.6     sun
228   2012-08-16            0.0      34.4      18.3   2.8     sun
1306  2015-07-30            0.0      34.4      17.2   3.5     sun
1295  2015-07-19            0.0      35.0      17.2   3.3     sun
953   2014-08-11            0.5      35.6      17.8   2.6    rain

[1461 rows x 6 columns]

In [12]:
df[0:3]

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain

In [13]:
df.isna().sum(axis=1)

0       0
1       0
2       0
3       0
4       0
       ..
1456    0
1457    0
1458    0
1459    0
1460    0
Length: 1461, dtype: int64

In [14]:
df["wind"].value_counts()

2.6    76
3.0    65
2.2    55
2.5    51
2.8    47
       ..
8.2     1
0.4     1
0.7     1
6.9     1
7.7     1
Name: wind, Length: 79, dtype: int64

In [15]:
df.dtypes

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [16]:
df.wind=df.wind.astype("float64")

In [17]:
df.dtypes

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [18]:
df=pd.get_dummies(df,columns=["precipitation"])

In [19]:
df

,date,temp_max,temp_min,wind,weather,precipitation_0.0,precipitation_0.3,precipitation_0.5,precipitation_0.8,precipitation_1.0,...,precipitation_34.3,precipitation_34.5,precipitation_35.6,precipitation_38.4,precipitation_39.1,precipitation_43.4,precipitation_46.7,precipitation_47.2,precipitation_54.1,precipitation_55.9
0,2012-01-01,12.8,5.0,4.7,drizzle,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2012-01-02,10.6,2.8,4.5,rain,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2012-01-03,11.7,7.2,2.3,rain,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2012-01-04,12.2,5.6,4.7,rain,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2012-01-05,8.9,2.8,6.1,rain,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2015-12-27,4.4,1.7,2.9,rain,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1457,2015-12-28,5.0,1.7,1.3,rain,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1458,2015-12-29,7.2,0.6,2.6,fog,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1459,2015-12-30,5.6,-1.0,3.4,sun,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1460,2015-12-31,5.6,-2.1,3.5,sun,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0